.card-component{
    width: 28%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 10px 10px;
    margin: 36px 0px 0px 15px;
    color: black;
}
#card-btn{
    width: 100%;
    height: 42px;
    background: #bf0603;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 2px 0px 0px 0px;
}
#card-detail{
    font-weight: 900;
    font-size: 17px;
    margin: 0;
    color: black;
    padding: 5px 4px;
    border-radius: 10px;
    /* border: 0.1px solid red; */
}


/* -------------------------------------------------------------------------------------  */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    height: 45%;
    width: 35%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content input {
    display: block;
    width: 90%;
    margin: 5px 0;
    padding: 13px 10px;
    border: 0.1px solid rgb(168, 168, 168);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
  }
  
  #modal-btn{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    /* border: 1px solid red; */
  }
  .modal-content button {
    height: 70%;
    width: 30%;
    margin: 0px 15px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #modal-btn button:first-child {
    background: #40b044;
    color: white;
  }
  
  #modal-btn button:last-child {
    background: #bf0603;
    color: white;
  }